<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:tx="http://www.springframework.org/schema/tx" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/context
                           http://www.springframework.org/schema/context/spring-context.xsd
                           http://www.springframework.org/schema/mvc
                           http://www.springframework.org/schema/mvc/spring-mvc.xsd
                           http://www.springframework.org/schema/tx
                           http://www.springframework.org/schema/tx/spring-tx.xsd
                           http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd">

<context:property-placeholder location="classpath:car.properties"/>

	<bean id="car" class="com.atuldwivedi.learn.spring.xml.HondaCity">
		<property name="modelNumber" value="10001" />
		<property name="color" value="Black" />
		<property name="mileAge" value="10.9" />
		<property name="maxSpeed" value="300" />
	</bean>






	<bean id="car2" class="com.atuldwivedi.learn.spring.xml.HondaAmaze" />
	
	
	<bean id="car3" class="com.atuldwivedi.learn.spring.xml.HondaJazz">
	
	<property name="modelNumber" value="${hondaJazz.modelNumber}" />
		<property name="color" value="${hondaJazz.color}" />
		<property name="mileAge" value="${hondaJazz.mileAge}" />
		<property name="maxSpeed" value="${hondaJazz.maxSpeed}" />
	
	
	
	</bean>















</beans>